#browser.tabs-left #header {
	display: none;
}
/*----------TAB STUFF----------*/

/* Font on tabs */
.tab-header {
	font-family: "Fira Code", monospace !important;
	letter-spacing: -0.75px !important;
}
/* Tab area stuff */
#tabs-container.top {
	/* (When tab position is Top in settings) */
	padding-left: 2px !important;
	padding-right: 0 !important; /* Tab bar uses entire window width */
	width: calc(100vw + 52px) !important; /* Also needed for entire width */
	border: 0 !important; /* No border below tab bar */
}
/* Animation for tabs */
.tab-position {
	/* If active tab has a min-width set in Vivaldi settings, */
	transition: 0.5s !important; /* make it expand smoothly. */
}
/* Remove ugly white favicon filter */
.tab.active .favicon {
	filter: none !important;
}
#switch button.webviewbtn img {
	background-color: transparent !important;
}

/*-------ADRESS BAR STUFF------*/

/* Omnibox drop-down translucency */
.OmniDropdown {
	background: var(--colorBgAlpha);
	backdrop-filter: blur(1px);
}
/* center tab and address text */
.addressfield form input.url,
.tab-position .tab .title {
	text-align: center;
}
/* Address bar font */
.win.normal .toolbar-mainbar {
	font-family: "Fira Code", monospace !important;
	letter-spacing: -0.5px !important;
}

/*---------HIDE STUFF---------*/

/* Line under tabs */
#browser:not(.address-top) > #header {
	box-shadow: none !important;
}
/* Hide New tab button */
div.button-toolbar.newtab {
	display: none !important;
}
/* Hide vivaldi button */
.vivaldi {
	display: none !important;
}

/*--QUICK COMMAND MENU STUFF--*/

/* Quick Command position */
#modal-bg.qc-modal {
	top: 65px !important;
}
/* Quick command menu translucency */
#modal-bg {
	background-color: var(--colorBgAlpha);
	backdrop-filter: blur(1px);
}
/* Background color of non-selected things in quick command menu to transparent */
#modal-bg *:not([data-selected]) {
	background-color: rgba(0, 0, 0, 0) !important;
}

/*----MISCELLANEOUS STUFF-----*/

/* Compact bookmark bar */
.bookmark-bar button {
	padding: 2px;
}
#main .bookmark-bar button span {
	margin-left: 2px;
	position: absolute;
	left: 3px;
	text-shadow: 0 0 2px black, 0 0 6px black, 0 0 10px black;
	font-weight: bold;
	top: 12px;
	font-size: 9px;
}
