/*----------TAB STUFF----------*/
/* Make tabs use all of the screen space */
#tabs-container.top {
	padding-left: 2px !important;
	padding-right: 0 !important;
	width: calc(100vw + 62px) !important; /* Change if you need it to be shorter/longer */
	border: 0 !important;
}
/* Animation for tabs */
.tab-position {
	transition: 0.7s !important;
}
/* Remove ugly white favicon filter */
.tab.active .favicon {
	filter: none !important;
}
#switch button.webviewbtn img {
	background-color: transparent !important;
}
/* Fancy audio playing tab */
div.tab.audio-on.button-off {
  background-color: #fad256 !important;
  color: #1b110e !important;
  border: 3px solid #fabc2c !important;
  border-radius: 0.8em !important;
  justify-content: center;
}
div.tab.audio-on.button-off:hover {
  background-color: #fabc2c !important;
}
/* Fancy active tab */
#browser .tab-position .tab.active {
  background-color: #e86420;
  color: #1b110e;
  border: 3px solid #e04220;
  border-radius: 0.8em;
  justify-content: center;
}
#browser .tab-position .tab.active:hover {
  background-color: #e04220;
}
/*-------ADRESS BAR STUFF------*/
/* Omnibox drop-down translucency */
.OmniDropdown {
	background: var(--colorBgAlpha);
	backdrop-filter: blur(10px);
}
/* Center tab and address text */
.addressfield form input.url,
.tab-position .tab .title,
input.UrlBar-UrlField.url.vivaldi-addressfield.uifocusstop {
	text-align: center !important;
}
/* Hide lock and shield */
button.button-addressfield.SiteInfoButton.internal,
button.ToolbarButton-Button,
button.button-addressfield.SiteInfoButton.secure {
  display: none;
}
/* Behind address bar when not hidden */
.color-behind-tabs-off .toolbar-mainbar {
	background-color: #261b17;
}
/*---------HIDE STUFF---------*/
/* Hide Startpage */
.sdwrapper {
  display: none;
}
/* Hide Windows titlebar buttons */
.window-buttongroup {
  display: none !important;
}
#browser.tabs-left #header {
	display: none;
}
/* Line under tabs */
#browser:not(.address-top) > #header {
	box-shadow: none !important;
}
/* Hide New tab button */
div.button-toolbar.newtab {
	display: none !important;
}
/* Hide vivaldi button */
.vivaldi {
	display: none !important;
}
/* Hide favicons */
.favicon, .audioicon, span.tab-audio, .quick-command-favicon > svg, img.quick-command-favicon {
  display: none !important;
}
#tabs-subcontainer .favicon {
  display: block;
}
/* Hide Scrolls */
::-webkit-scrollbar {
  display: none !important;
}
/*----QUICK COMMAND MENU STUFF----*/
/* Quick Command position */
#modal-bg.qc-modal {
	top: 65px !important;
}
/* Quick command menu translucency */
#modal-bg {
	background-color: var(--colorBgAlpha);
	backdrop-filter: blur(10px);
}
/* Background color of non-selected things in quick command menu to transparent */
#modal-bg *:not([data-selected]) {
	background-color: transparent !important;
}
/*----MISCELLANEOUS STUFF----*/
/* Font */
* {
	font-family: "Fira Code" !important;
}
/* Selection */
::selection {
	background-color: #f99666cc;
	color: #1b110e;
}
/* Break mode box */
button.HUD.HUD-enter-done {
  border-radius: 0.4em;
  background-color: #291812;
}
