
:root {
  --dark-shade0: #291812;

  --dark-shade1: #442212;

  --dark-shade2: #5e2b13;

  --dark-shade3: #793513;

  --dark-shade4: #933e14;

  --dark-shade5: #ae4814;

  --dark-shade6: #c85115;

  --dark-shade7: #e35b15;

  --dark-accent0: #e04220;

  --dark-accent1: #f99666;

  --dark-accent2: #fabc2c;

  --dark-accent3: #82a23a;

  --dark-accent4: #66a4a4;

  --dark-accent5: #4395a3;

  --dark-accent6: #e4cbb3;

  --dark-accent7: #b666e6;
}